.downloadButton {
  margin-top: 50px;
  cursor: pointer;
  background-color: #0a5ac9;
  color: white;

  padding: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.headerImg {
  width: 220px;
  height: 200px;
  margin: 10px;

  object-fit: contain;
}
.header {
  width: "100%";
}
.headerElement {
  float: left;
  width: 50%;
}
.headerImg {
  margin-left: 20%;
  /* height: 100px; */
}
.downloadButton {
  margin-left: 80%;
  /* height: 100px; */
}
